<div class="card">
    <header class="card-header">
        <p class="card-header-title" (click)="toggleChore()">
            {{ chore.name }}
        </p>
        <a class="card-header-icon" (click)="selectChore()">
            <span class="icon" [ngClass]="{'has-text-success': isGreen(), 'has-text-warning': isYellow(), 'has-text-danger': isRed()}">
                <i class="far fa-dot-circle"></i>
            </span>
        </a>
    </header>
    <div *ngIf="expanded" class="card-content">
        <div class="content">
            Diese Aufgabe wurde zuletzt am <strong><time>{{ chore.lastPerformed | date }}</time></strong> durchgeführt.
            Das nächste Mal ist am <strong><time>{{ chore.nextTime | date }}</time></strong>.
        </div>
    </div>
    <footer *ngIf="expanded" class="card-footer">
        <span id="edit-button" class="card-footer-item">Editieren</span>
        <a id="delete-button" class="card-footer-item" (click)="deleteChore()">Löschen</a>
    </footer>
</div>

