<div class="card">
    <header class="card-header" (click)="toggleChore()">
        <p class="card-header-title">
            {{ chore.name }} ({{ chore.nextTime | date }})
        </p>
        <span class="card-header-icon">
            <span class="icon" [ngClass]="{'has-text-success': isGreen(), 'has-text-warning': isYellow(), 'has-text-danger': isRed()}">
                <i class="far fa-dot-circle"></i>
            </span>
        </span>
    </header>
    <div *ngIf="expanded" class="card-content">
        <div *ngIf="readonly; else edit" class="content">
            Diese Aufgabe wurde zuletzt am <strong><time>{{ chore.lastPerformed | date }}</time></strong> durchgeführt.
            Das nächste Mal ist am <strong><time>{{ chore.nextTime | date }}</time></strong>.
            <br />
            <br />
            <button class="button is-primary" (click)="selectChore()" [ngClass]="{'is-loading': loading}">Durchführen</button>
        </div>
        <ng-template #edit>
            <form [formGroup]="choreForm">
                <div class="field">
                    <label class="label">Hausarbeit</label>
                    <div class="control">
                        <input class="input" type="text" formControlName="name">
                    </div>
                </div>
                <div class="field">
                    <label class="label">Frequenz (Tage)</label>
                    <div class="control">
                        <input class="input" type="text" formControlName="repeat">
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary"
                                (click)="saveChore()"
                                [disabled]="!choreForm.valid"
                                [ngClass]="{'is-loading': loading}">
                            Speichern
                        </button>
                    </div>
                </div>
            </form>
        </ng-template>
    </div>
    <footer *ngIf="expanded" class="card-footer">
        <a id="edit-button" class="card-footer-item" (click)="editChore()">Editieren</a>
        <a id="delete-button" class="card-footer-item" (click)="deleteChore()">Löschen</a>
    </footer>
</div>
