<a id="add-recipe-button" class="button is-primary" (click)="openDialog()">Neues Rezept</a>

<div class="modal" [ngClass]="{'is-active': open}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <form [formGroup]="recipeForm">
                <div class="columns is-mobile">
                    <div class="column">
                        <input id="recipe-name-field" class="input" type="text" formControlName="recipeName" placeholder="Rezept" />
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <input id="recipe-url-field" class="input" type="text" formControlName="recipeUrl" placeholder="URL zum Rezept" />
                    </div>
                </div>
            </form>

            <h5 class="title is-5">Zutaten</h5>
            <app-editable-ingredient *ngFor="let ingredient of ingredients; let i = index" [ingredient]="ingredient" [index]="i" (ingredientDeletionEmitter)="deleteIngredient($event)"></app-editable-ingredient>
            <app-ingredient-form (ingredientEmitter)="addIngredient($event)"></app-ingredient-form>
            <div class="columns is-mobile">
                <div class="column">
                    <button id="save-recipe-button" class="button is-primary" (click)="saveRecipe()" [ngClass]="{'is-loading': loading}" [disabled]="!recipeForm.valid">Speichern</button>
                </div>
            </div>
        </div>
    </div>
    <button id="close-button" class="modal-close is-large" aria-label="close" (click)="closeDialog()"></button>
</div>
