<a class="button is-primary" (click)="openDialog()">Neues Rezept</a>

<div class="modal" [ngClass]="{'is-active': open}">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <form [formGroup]="recipeForm">
                <div class="columns is-mobile">
                    <div class="column">
                        <input id="recipe-name-field" class="input" type="text" formControlName="recipeName" placeholder="Rezept" />
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column">
                        <input id="recipe-url-field" class="input" type="text" formControlName="recipeUrl" placeholder="Url" />
                    </div>
                </div>
            </form>

            <h5 class="title is-5">Zutaten</h5>
            <form [formGroup]="ingredientForm">
                <div *ngFor="let ingredient of ingredients; let i = index" class="columns is-mobile">
                    <div class="column is-2">{{ ingredient.amount }}</div>
                    <div class="column is-2">{{ ingredient.unit }}</div>
                    <div class="column is-6">{{ ingredient.name }}</div>
                    <div class="column is-2">
                        <span id="delete-ingredient-button-{{i}}" class="icon" (click)="deleteIngredient(ingredient)">
                            <i class="fas fa-trash"></i>
                        </span>
                    </div>
                </div>
                <div class="columns is-mobile">
                    <div class="column is-2">
                        <div class="control">
                            <input id="amount-field" class="input" type="text" formControlName="amount" placeholder="Anzahl" />
                        </div>
                    </div>
                    <div class="column is-2">
                        <div class="control">
                            <input id="unit-field" class="input" type="text" formControlName="unit" placeholder="Einheit" />
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="control">
                            <input id="name-field" class="input" type="text" formControlName="name" placeholder="Zutat" />
                        </div>
                    </div>
                    <div class="column is-2">
                        <div class="control">
                            <span class="icon has-text-grey-light" *ngIf="!ingredientForm.valid">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span id="add-ingredient-button" class="icon" *ngIf="ingredientForm.valid" (click)="addIngredient()">
                                <i class="fas fa-plus"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="columns is-mobile">
                <div class="column">
                    <button id="save-recipe-button" class="button is-primary" (click)="saveRecipe()" [ngClass]="{'is-loading': loading}" [disabled]="!recipeForm.valid">Speichern</button>
                </div>
            </div>
        </div>
    </div>
    <button id="close-button" class="modal-close is-large" aria-label="close" (click)="closeDialog()"></button>
</div>
