<app-select-recipe *ngIf="selectedRecipe" [recipe]="selectedRecipe" (ingredientsEmitter)="onIngredientSelection($event)"></app-select-recipe>
<form *ngIf="foodPlan" [formGroup]="foodPlanForm">
    <app-meal [parentForm]="foodPlanForm" controlName="monday" day="Montag" [cookbook]="cookbook" [meal]="foodPlan.meals.monday" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="tuesday" day="Dienstag" [cookbook]="cookbook" [meal]="foodPlan.meals.tuesday" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="wednesday" day="Mittwoch" [cookbook]="cookbook" [meal]="foodPlan.meals.wednesday" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="thursday" day="Donnerstag" [cookbook]="cookbook" [meal]="foodPlan.meals.thursday" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="friday" day="Freitag" [cookbook]="cookbook" [meal]="foodPlan.meals.friday" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="saturday" day="Samstag" [cookbook]="cookbook" [meal]="foodPlan.meals.saturday" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="sunday" day="Sonntag" [cookbook]="cookbook" [meal]="foodPlan.meals.sunday" (recipeEmitter)="onRecipeSelection($event)"></app-meal>

    <div class="columns is-mobile">
        <div class="column">
            <button class="button is-link" [ngClass]="{'is-loading': isLoading()}" (click)="saveFoodPlan()" [disabled]="!foodPlanForm.valid">Speichern</button>
        </div>
        <div class="column">
            <button id="clear-button" class="button" [ngClass]="{'is-loading': isLoading()}" (click)="clearFoodPlan()" [disabled]="!foodPlanForm.valid">Leeren</button>
        </div>
    </div>
</form>
