<div class="container">
    <h4 class="title is-4">{{ shoppingListGroup.name }}</h4>
    <div class="content">
        <form [formGroup]="shoppingListItemForm">
            <div class="columns">
                <div class="column is-3">
                    <div class="control">
                        <input class="input" type="text" formControlName="name" placeholder="Item" />
                    </div>
                </div>
                <div class="column is-3">
                    <div class="control">
                        <button class="button is-link" [ngClass]="{'is-loading': isLoading()}" (click)="addShoppingListItem()" [disabled]="!shoppingListItemForm.valid">Hinzufügen</button>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="control">
                        <button class="button is-text" (click)="clearShoppingListGroup()">Leeren</button>
                    </div>
                </div>
                <div class="column is-3">
                    <div class="control" *ngIf="isNotGlobal()">
                        <button class="button is-text" (click)="deleteShoppingListGroup()">Löschen</button>
                    </div>
                </div>
            </div>
        </form>
        <ul>
            <app-shopping-list-item *ngFor="let item of shoppingListGroup.shoppingListItems"
                                    [shoppingListItem]="item"
                                    (shoppingListEmitter)="handleShoppingList($event)"></app-shopping-list-item>
        </ul>
    </div>
</div>
