<app-select-recipe *ngIf="selectedRecipe" [recipe]="selectedRecipe" (ingredientsEmitter)="onIngredientSelection($event)"></app-select-recipe>
<form *ngIf="foodPlan" [formGroup]="foodPlanForm">
    <app-meal [parentForm]="foodPlanForm" controlName="monday" day="Montag" [date]="dates[0]" [cookbook]="cookbook" [meal]="foodPlan.meals.monday" (foodPlanEmitter)="onMealNameChange($event)" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="tuesday" day="Dienstag" [date]="dates[1]" [cookbook]="cookbook" [meal]="foodPlan.meals.tuesday" (foodPlanEmitter)="onMealNameChange($event)" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="wednesday" day="Mittwoch" [date]="dates[2]" [cookbook]="cookbook" [meal]="foodPlan.meals.wednesday" (foodPlanEmitter)="onMealNameChange($event)" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="thursday" day="Donnerstag" [date]="dates[3]" [cookbook]="cookbook" [meal]="foodPlan.meals.thursday" (foodPlanEmitter)="onMealNameChange($event)" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="friday" day="Freitag" [date]="dates[4]" [cookbook]="cookbook" [meal]="foodPlan.meals.friday" (foodPlanEmitter)="onMealNameChange($event)" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="saturday" day="Samstag" [date]="dates[5]" [cookbook]="cookbook" [meal]="foodPlan.meals.saturday" (foodPlanEmitter)="onMealNameChange($event)" (recipeEmitter)="onRecipeSelection($event)"></app-meal>
    <app-meal [parentForm]="foodPlanForm" controlName="sunday" day="Sonntag" [date]="dates[6]" [cookbook]="cookbook" [meal]="foodPlan.meals.sunday" (foodPlanEmitter)="onMealNameChange($event)" (recipeEmitter)="onRecipeSelection($event)"></app-meal>

    <div class="columns is-mobile">
        <!-- <div class="column">
            <button class="button is-link" [ngClass]="{'is-loading': isLoading()}" (click)="saveFoodPlan()" [disabled]="!foodPlanForm.valid">Speichern</button>
        </div> -->
        <div class="column">
            <button id="clear-button" class="button" [ngClass]="{'is-loading': isLoading()}" (click)="clearFoodPlan()" [disabled]="!foodPlanForm.valid">Leeren</button>
        </div>
    </div>
</form>
