<div *ngIf="shoppingList">
    <form [formGroup]="shoppingListGroupForm">
        <div class="columns is-mobile">
            <div class="column is-3">
                <div class="control">
                    <input class="input" type="text" formControlName="name" placeholder="Gruppenname" />
                </div>
            </div>
            <div class="column is-3">
                <div class="control">
                    <button class="button is-link" [ngClass]="{'is-loading': isLoading()}" (click)="addShoppingListGroup()" [disabled]="!shoppingListGroupForm.valid">Hinzufügen</button>
                </div>
            </div>
            <div class="column is-3"></div>
            <div class="column is-3"></div>
        </div>
    </form>
    <app-shopping-list-group *ngFor="let group of shoppingList.shoppingListGroups"
                             [shoppingListGroup]="group"
                             (shoppingListEmitter)="handleShoppingList($event)"></app-shopping-list-group>
</div>
