<div *ngIf="!shoppingListItem.hidden" class="card item">
    <header *ngIf="!editMode" class="card-header">
        <p class="card-header-title">
            <app-checkbox [label]="shoppingListItem.name"
                          [selected]="shoppingListItem.selected"
                          [ngClass]="{'selected': shoppingListItem.selected}"
                          (click)="toggleShoppingListItem($event)"></app-checkbox>
            <span id="edit-mode-button" class="icon" (click)="enableEditMode()">
                <i class="fas fa-pen"></i>
            </span>
            <span *ngIf="hasImageLink()" id="image-dialog-button" class="icon" (click)="openImageDialog()">
                <i class="fas fa-image"></i>
            </span>
            <span id="image-upload-button" class="icon file">
                <label class="file-label">
                    <input class="file-input" type="file" name="resume" (change)="handleFileInput($event.target.files)">
                    <span>
                        <span class="file-icon">
                            <i class="fas fa-upload"></i>
                        </span>
                    </span>
                </label>
            </span>
        </p>
    </header>
    <header *ngIf="editMode" class="card-header">
        <form [formGroup]="editForm">
            <p class="card-header-title">
                <input id="edit-field" class="input" type="text" formControlName="name" />
                <span id="save-button" class="icon" (click)="saveShoppingListItem()">
                    <i class="fas fa-save"></i>
                </span>
            </p>
        </form>
    </header>

    <div class="modal" [ngClass]="{'is-active': showImage}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <img *ngIf="showImage" [src]="getImageUrl()" />
            </div>
        </div>
        <button id="close-button" class="modal-close is-large" aria-label="close" (click)="closeImageDialog()"></button>
    </div>
    
</div>
