<div class="columns is-mobile">
    <div class="column">
        <h5 class="title is-5">Passwort ändern</h5>
        <div class="content">
            <form [formGroup]="form">
                <div class="field">
                    <p class="control has-icons-left">
                        <input id="current-password" class="input" type="password" formControlName="currentPassword" placeholder="Aktuelles Passwort" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div><div class="field">
                <p class="control has-icons-left">
                    <input id="new-password" class="input" type="password" formControlName="password" placeholder="Neues Passwort" />
                    <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                </p>
            </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input id="new-password-repeat" class="input" type="password" formControlName="passwordRepeat" placeholder="Neues Passwort wiederholen" />
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </p>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button id="change-password-button"
                                class="button is-link"
                                [ngClass]="{'is-loading': loading}"
                                [disabled]="!form.valid"
                                (click)="save()">
                            Speichern
                        </button>
                    </div>
                </div>
            </form>
            <div *ngIf="errorVisible" class="notification is-warning">
                <button (click)="hideError()" class="delete"></button>
                Beim Ändern des Passworts ist ein Fehler aufgetreten.
            </div>
        </div>
    </div>
</div>
