<div class="columns is-mobile" [formGroup]="parentForm">
    <div class="column">
        <div class="field">
            <label [for]="controlName" class="label">{{ day }}</label>
            <div class="control">
                <input [id]="controlName" class="input" type="text" [formControlName]="controlName" autocorrect="off" autocomplete="off">
                <div (click)="selectRecipe(name)" *ngFor="let name of recipeNames">{{name}}</div>
            </div>
        </div>
    </div>
</div>
