<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h4 class="title is-4">Was muss noch auf die Einkaufsliste?</h4>
            <div *ngFor="let ingredient of recipe.ingredients" class="columns is-mobile">
                <div class="column">
                    <label class="checkbox">
                        <input (click)="toggleIngredient(ingredient)" type="checkbox">
                        {{ ingredient.name }}
                    </label>
                </div>
            </div>
            <div class="columns is-mobile">
                <div class="column">
                    <button (click)="saveIngredients()" class="button is-primary">Speichern</button>
                </div>
            </div>
        </div>
    </div>
</div>
