<div *ngIf="cookbook">
    <div class="columns is-mobile">
        <div class="column">
            <app-add-recipe [cookbook]="cookbook"
                            [recipe]="recipe"
                            (cookbookEmitter)="handleCookbook($event)"></app-add-recipe>
        </div>
    </div>
    <div class="columns is-mobile">
        <div class="column">
            <app-recipe *ngFor="let recipe of cookbook.recipes"
                        [recipe]="recipe"
                        (cookbookEmitter)="handleCookbook($event)"
                        (recipeEmitter)="handleRecipe($event)">
            </app-recipe>
        </div>
    </div>
</div>

