<div *ngIf="household; else noHousehold" class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <div [routerLink]="[{ outlets: { inner: ['cover'] } } ]" class="navbar-item">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
            </div>

            <a (click)="toggleNavbar()" role="button" class="navbar-burger burger" [ngClass]="{'is-active': expanded}" aria-label="menu" aria-expanded="false" data-target="householdNavbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="householdNavbar" class="navbar-menu" [ngClass]="{'is-active': expanded}">
            <div class="navbar-start">
                <a [routerLink]="[{ outlets: { inner: ['shopping-list'] } }]" id="shopping-list-tab" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                    Einkaufsliste
                </a>

                <a [routerLink]="[{ outlets: { inner: ['cleaning-plan'] } }]" id="cleaning-plan-tab" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-broom"></i>
                    </span>
                    TODO-Liste
                </a>

                <a [routerLink]="[{ outlets: { inner: ['food-plan'] } }]" id="food-plan-tab" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-utensils"></i>
                    </span>
                    Essensplan
                </a>

                <a [routerLink]="[{ outlets: { inner: ['cookbook'] } }]" id="cookbook-tab" class="navbar-item">
                    <span class="icon">
                        <i class="fas fa-book"></i>
                    </span>
                    Kochbuch
                </a>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <a (click)="logout()" class="button is-light">
                        Log out
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container is-fluid">
        <router-outlet name="inner"></router-outlet>
    </div>
</div>

<ng-template #noHousehold>
    <div class="container is-fluid">
        <a (click)="createHousehold()" class="button is-primary">
            Haushalt erstellen
        </a>
        <app-invitation *ngFor="let invitation of user.invitations"
                        [invitation]="invitation">
        </app-invitation>
    </div>
</ng-template>
