<div *ngIf="!editMode" class="columns is-mobile">
    <div class="column is-2">{{ ingredient.amount | amount }}</div>
    <div class="column is-2">{{ ingredient.unit }}</div>
    <div class="column is-4">{{ ingredient.name }}</div>
    <div class="column is-2">
        <span id="edit-ingredient-button-{{index}}" class="icon" (click)="editIngredient()">
            <i class="fas fa-pen"></i>
        </span>
    </div>
    <div class="column is-2">
        <span id="delete-ingredient-button-{{index}}" class="icon" (click)="deleteIngredient()">
            <i class="fas fa-trash"></i>
        </span>
    </div>
</div>
<app-ingredient-form *ngIf="editMode"
                     [editMode]="editMode"
                     [initialAmount]="ingredient.amount"
                     [initialUnit]="ingredient.unit"
                     [initialName]="ingredient.name"
                     (ingredientEmitter)="saveIngredient($event)"></app-ingredient-form>
