<div *ngIf="cleaningPlan">
    <form [formGroup]="cleaningPlanForm">
        <div class="columns is-mobile">
            <div class="column is-4">
                <div class="control">
                    <input id="chore-name" class="input" type="text" formControlName="name" placeholder="Hausarbeit" />
                </div>
            </div>
            <div class="column is-2">
                alle
            </div>
            <div class="column is-2">
                <div class="control">
                    <input id="chore-interval" class="input" type="text" formControlName="repeat" placeholder="x" />
                </div>
            </div>
            <div class="column is-2">
                Tage
            </div>
            <div class="column is-2">
                <div class="control">
                    <span *ngIf="cleaningPlanForm.valid" id="add-chore-button" class="icon" (click)="addChore()">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span *ngIf="!cleaningPlanForm.valid" class="icon has-text-grey-light">
                        <i class="fas fa-plus"></i>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div class="columns is-mobile">
        <div class="column">
            <app-chore *ngFor="let chore of cleaningPlan.chores"
                       [chore]="chore"
                       (cleaningPlanEmitter)="handleCleaningPlan($event)">
            </app-chore>
        </div>
    </div>
</div>
