{{ shoppingListGroup.name }}
<form [formGroup]="shoppingListItemForm">
    <div class="field is-grouped">
        <div class="control">
            <input class="input" type="text" formControlName="name" placeholder="Item" />
        </div>
        <div class="control">
            <button class="button is-link" (click)="addShoppingListItem()" [disabled]="!shoppingListItemForm.valid">Hinzufügen</button>
        </div>
        <div class="control">
            <button class="button is-text" (click)="clearShoppingListGroup()">Leeren</button>
        </div>
        <div class="control">
            <button class="button is-text" (click)="deleteShoppingListGroup()">Löschen</button>
        </div>
    </div>
</form>
<app-shopping-list-item *ngFor="let item of shoppingListGroup.shoppingListItems"
                        [shoppingListItem]="item"
                        (shoppingListEmitter)="shoppingListEmitter"></app-shopping-list-item>
