<div class="container">
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<div class="navbar-item">
				<div class="buttons">
					<a [routerLink]="[{ outlets: { user: ['registration'] } }]" id="registration-tab" class="button is-primary">
						<strong>Sign up</strong>
					</a>
					<a [routerLink]="[{ outlets: { user: ['login'] } }]" id="login-tab" class="button is-light">
						Log in
					</a>
				</div>
			</div>
		</div>
	</nav>
    <div class="columns">
        <div class="column">
            <router-outlet name="user"></router-outlet>
        </div>
        <!--<div class="column">-->
            <!--<img src="assets/img/anleitung1.gif" />-->
        <!--</div>-->
    </div>
</div>
