<div class="container">
	<nav class="navbar" role="navigation" aria-label="main navigation">
		<div class="navbar-brand">
			<div class="navbar-item">
				(Logo)
			</div>
			<div class="navbar-item">
				<div class="buttons">
					<a [routerLink]="[{ outlets: { user: ['registration'] } }]" class="button is-primary">
						<strong>Sign up</strong>
					</a>
					<a [routerLink]="[{ outlets: { user: ['login'] } }]" class="button is-light">
						Log in
					</a>
				</div>
			</div>
		</div>
	</nav>
    <router-outlet name="user"></router-outlet>
</div>
