<div class="columns is-mobile">
    <div class="column">
        <ul>
            <li *ngFor="let participant of household.participants">
                <span>{{ participant.email }}</span>
            </li>
        </ul>
    </div>
</div>

<div class="columns is-mobile">
    <div class="column">
        <form [formGroup]="invitationForm">
            <div class="field is-grouped">
                <div class="control">
                    <input id="invitation-input" class="input" type="text" formControlName="email" placeholder="E-Mail" (keyup)="trimEmail()" />
                </div>
                <div class="control">
                    <button id="invitation-button" class="button is-link" [ngClass]="{'is-loading': isLoading()}" (click)="sendInvitation()" [disabled]="!invitationForm.valid">Einladen</button>
                </div>
            </div>
            <div *ngIf="isErrorVisible()" class="notification is-warning">
                <button (click)="hideError()" class="delete"></button>
                Es gibt keinen Benuzter mit dieser E-Mail Adresse.
            </div>
        </form>
    </div>
</div>

<div class="columns is-mobile" *ngIf="user.invitations.length > 0">
    <div class="column">
        <h5 class="title is-5">Offene Einladungen</h5>
        <div class="content">
            <div class="notification is-warning">
                Du kannst aktuell nur in einem Haushalt sein. Wenn du eine Einladung annimmst, wirst du aus deinem
                aktuellen Haushalt entfernt.
            </div>
        </div>
        <app-invitation *ngFor="let invitation of user.invitations"
                        [invitation]="invitation">
        </app-invitation>
    </div>
</div>
